@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #000;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;  
  flex-direction: column;
  color: #FFF;
  padding: 20px;
}

.back-message {
  width: 100%;  
  display: flex;
  justify-content: center;
}

.message {    
  background-color: #101010;
  box-shadow: #454545 1px 1px 1px, #454545 -1px -1px 1px, #454545 1px -1px 1px, #454545 -1px 1px 1PX;    
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;  
  text-align: justify;
  position: fixed;    
  margin: 0 20px;
  margin-top: -300px;
  transition: .5s ease-in-out;
}

.active {
  margin-top: 20px;
}

.fa-solid {
  color: #5415da;
}

.content {
  width: 100%;
  max-width: 700px;
  margin: auto;
  background-color: #101010;
  box-shadow: #454545 1px 1px 1px, #454545 -1px -1px 1px, #454545 1px -1px 1px, #454545 -1px 1px 1PX;    
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.group-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.group-view-passwords {
  width: 100%;
  height: 55px;
  display: flex;  
  background-color: #010101;
  border-radius: 10px;  
  padding: 10px;
}

.group-form input[type="text"] {
  width: 100%;
  font-size: 1em;
  border: none;
  outline: none;
  background-color: transparent;
  color: #CCC;    
  height: 100%;
}

input[type="text"]:active {
  background-color: transparent;
}

button {  
  background-color: #5415da;
  color: #FFF;
  border: none;
  outline: none;
  font-weight: bold;
  padding: 7px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s ease-in-out;
}

button:hover {
  background-color: rgb(57, 0, 162);
}

.btn-generate {
  margin: auto;
  width: 100px;
  height: 40px;
}

.type-characters {
  width: 100%;    
  display: flex;
  flex-direction: column;  
  gap: 20px 0px;
}

.checkbox-wrapper {
  cursor: pointer;    
  user-select: none;
}

.checkbox-wrapper .input-check {
  appearance: none;
  background-color: #AAA;
  border-radius: 72px;
  border-style: none;
  flex-shrink: 0;
  height: 20px;
  margin: 0;
  position: relative;
  width: 30px;
  vertical-align: middle;     
  cursor: pointer;
}

.checkbox-wrapper .input-check::before {
  bottom: -6px;
  content: "";
  left: -6px;
  position: absolute;
  right: -6px;
  top: -6px;
}

.checkbox-wrapper .input-check,
.checkbox-wrapper .input-check::after {
  transition: all 100ms ease-out;
}

.checkbox-wrapper .input-check::after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 14px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 14px;
}

.checkbox-wrapper .input-check:hover {
  background-color: #AAA;
  transition-duration: 0s;
}

.checkbox-wrapper .input-check:checked {
  background-color: #4819a9;
}

.checkbox-wrapper .input-check:checked::after {
  background-color: #fff;
  left: 13px;
}

.checkbox-wrapper :focus:not(.focus-visible) {
  outline: 0;
}

.checkbox-wrapper .input-check:checked:hover {
  background-color: #4819a9;
}

label {
  font-weight: bold;
}
